body {
    background-color: #2b2a33;
}
.battery {
    text-align: center;
    margin-top: 3rem;
    color: green;
    text-transform: uppercase;
    text-shadow: 1px 2px 1px white;
    font-weight: bolder;
    font-size: 3rem;
}
.box {
    display: flex;
    justify-content: center;
}
.b1 {
    color: red;
    font-size: 10rem;
    text-shadow: 2px 1px 11px white;
}
.bi-battery-full {
    color: green;
}
.b2 {
    color: goldenrod;
}