
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: darkslategray;
}
.main {
    text-align: center;
    margin-top: 3rem;
    color: white;
    font-size: 3rem;
    text-transform: capitalize;
    text-shadow: 1px 2px 1px black;
}

strong {
    text-shadow: 1px 2px 1px red;
}
.wifi {
    text-align: center;
    margin-top: 10rem;
    font-size: 2rem;
    color: aquamarine;
    text-transform: capitalize;
    font-style: oblique;
}
.wifi-1 {
    font-size: 10rem;
    text-shadow: 1px 2px 2px black;
}
.bi-wifi-1 {
    color: #930000;
}
.bi-wifi-2 {
    color: #d5d500;
    text-shadow: 1px 2px 7px white;
}
.bi-wifi {
    color: green;
    text-shadow: 1px 2px 1px white;
}
.bi-wifi-off {
    color: red;
    text-shadow: 1px 2px 1px white;
}