*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    justify-content: space-around;
    background: aliceblue;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 4rem;
    font-family: cursive;
    text-shadow: 2px -3px 14px cornflowerblue;
}
.num {

}