* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #2b2a33;

}
.b1 {
    text-align: center;
    margin-top: 2rem;
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 2.5rem;
    text-shadow: 1px 2px 1px white;
    cursor: pointer;
}
/* .on {

} */
.light {
    width: 300px;
}
/* .off {

}
.btn {

} */
.container {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.btn {
    padding: .5rem 3rem;
    outline: none;
    background-color: black;
    border: transparent;
    color: gold;
    font-weight: bolder;
    font-size: 2rem;
    border-radius: 4px;
    text-shadow: 1px 1px 4px white;
    cursor: pointer;
    transition: all ease-in-out;
}
.btn:hover {
        background-color: transparent;
        border: 1px solid gold;
}
